<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
</head>
<body>
    {% extends "AppCoder/inicio.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
       <h1>Bienvenido estos son nuestros cursos disponibles</h1>
       {% for curso in cursos %}
         <h3>{{curso.nombre}}</h3>
         <p>Camada: {{curso.camada}}</p>
        {% empty %}
        <p>No hay cursos</p>
        {% endfor %}
    {% endblock %}

    
</body>
</html>